.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  align-items: center;
  padding: 4rem 2rem;
  box-sizing: border-box;
}

.hero-title {
  flex: 1 1 400px; /* left side grows/shrinks */
  text-align: start;
  font-size: 3rem;
  font-weight: bold;
  line-height: 5.5rem;
  margin-bottom: 1rem;
}

.images-section {
  flex: 1 1 500px;
  min-width: 350px;
}

@media (max-width: 1350px) {
  .hero-title {
    font-size: 2.3rem;
    line-height: 4rem;
  }
}

@media (max-width: 1100px) {
  .hero-section {
    flex-direction: column; /* stack vertically on smaller screens */
    align-items: center;
    gap: 2rem;
    flex-wrap: none;
  }

  .hero-title {
    text-align: center;
    flex: none;
  }
  .images-section {
    flex: none;
    min-width: none;
    grid-template-columns: none;
  }
}

@media (max-width: 690px) {
  .hero-section {
    padding: 1rem 2rem;
    flex-wrap: unset;
  }

  .hero-title {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
