.header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 8px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.header-container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* make it responsive on small screens */
}

.header-left,
.header-right {
  font-size: 1rem;
  color: #4b5563;
  font-weight: 600;
  text-align: center;
  flex: 1; /* make texts flexible */
}

.header-left p,
.header-right p {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.header-center {
  display: flex;
  justify-content: center;
  flex: 1; /* center logo */
}

.header-center img {
  max-width: 140px;
  height: auto;
}

@media (max-width: 775px) {
  .header {
    padding: 2rem 1rem;
  }

  .header-left p,
  .header-right p {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
  }

  .header-center img {
    max-width: 100px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 1.6rem 0.6rem;
  }

  .header-left p,
  .header-right p {
    font-size: 0.6rem;
    margin-bottom: 0.4rem;
  }

  .header-center img {
    max-width: 80px;
    height: auto;
  }
}
