/* Homepage.css */
.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sections {
  padding: 4rem 0;
  background-image: url("../../../assets/vectors/zellije-tile.svg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}
