.overlay {
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.2s ease-in-out;
}

.overlay-content {
  background: white;
  padding: 32px;
  border-radius: 8px;
  min-width: 650px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .overlay-content {
    min-width: 470px;
    border-radius: 4px;
  }
}

@media (max-width: 470px) {
  .overlay-content {
    min-width: 95vw;
    border-radius: 4px;
  }
}
